__pycache__
.git
.github
.pytest_cache
capra-frontend
data
docs
node_modules
.gitignore
capra_db.db
CODE_OF_CONDUCT.md
CONTRIBUTING.md
docker-compose.yml
Dockerfile
env.example
LICENSE
README.md
test_controller.py
test_main.py

